<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Getting Started</title>
  </head>
  <body>
    {{> partials/header title=htmlWebpackPlugin.options.title}}

    <div class="container">
      <img src="/images/spacex.jpg" width="200">
      <div id="app">
      </div>
    </div>

    {{> partials/footer}}
  </body>
</html>
